<section class="all-posts">
  <div class="page-header">
    <h1>Blog Posts</h1>
    <p class="subtitle">
      Browse through our collection of articles and stories
    </p>
  </div>
  <div *ngIf="posts.length > 0" class="pagination-container">
    <app-pagination
      [totalItems]="totalItems"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="fetchPosts($event)"
    ></app-pagination>
  </div>

  <div *ngIf="posts.length > 0; else noPosts" class="posts-grid">
    <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
  </div>

  <ng-template #noPosts>
    <div class="no-posts">
      <p>No posts available at the moment. Check back later!</p>
    </div>
  </ng-template>

  <div *ngIf="posts.length > 0" class="pagination-container">
    <app-pagination
      [totalItems]="totalItems"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="fetchPosts($event)"
    ></app-pagination>
  </div>
</section>
